# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA settings
.idea

# Ignore VS code
.vscode

# Ignore Maven Target Dir
dropwizardplayground/target/
dropwizardplayground/bin/

# Ignore eclipse specs
dropwizardplayground/.classpath
dropwizardplayground/.project
dropwizardplayground/.settings/
